/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/

html, body, #app {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(110, 184, 184);
  background-image: url("../assets/machine.jpg");
}
